<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internal Payment</title>
    <link rel="stylesheet" href="/stylesheets/user/payment.css">
</head>
<body>
    <%- include('../partials/usernav')%>

    <div class="contentbox">
        <div id="header">
            <div id="headerinner">
                <span class="headerinnerspan"><i class="fa-solid fa-money-bill-transfer headericon"></i> <small>Internal Payment</small></span>
                <span class="headerinnerspan"><a href="/dashboard"><i class="fas fa-project-diagram headericon"></i></a></span>
            </div>
        </div>
        <div class="flashbox">
            <% if(success && success.length) { %>
                   <div class="flashboxsuccess-alert">
                       <%= success %> 
                       <span class="flashboxsuccess-closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                       
                   </div>
               <% } %> 
           
               <% if(error && error.length) { %>
                       <div class="flashboxerror-alert">
                           <%= error %> 
                           <span class="flashboxerror-closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                           
                       </div>
               <% } %> 
               
        </div>

        <div id="depositbox2">
                <div id="depositmethodbox">
                        
                        <div class="depositmethodboxclass">

                            <span>
                                <p>Main Account Balance:</p> 
                                <small class="accounttype">$<%= user.wallet.toLocaleString() %></small>
                            </span>

                            <span>
                                <p>Wallet:</p> 
                                <small class="accounttype" style="background-color: rgb(16, 126, 236); padding: 5px;"><%= wallet.tradeCurrency %></small>
                            </span>

                            <span>
                                <p>Wallet Balance:</p> 
                                <small class="accounttype" style="background-color: rgb(4, 192, 98); padding: 5px;">$<%= wallet.currencyWallet.toLocaleString() %></small>
                            </span>
                            

                            <span class="depositmethodboxaction">

                                <form action="/wallet/<%= wallet.id %>/internal-deposit" method="post" class="paymentform">

                                    <span class="paymentformgroup">
                                        <label for="amount">Enter the amount you wish to transfer from your main account's balance to this wallet:</label>
                                        <span class="paymentforminputgroup"><i class="fas fa-dollar-sign"></i><input type="number" placeholder="Amount" class="paymentforminput" name="amount" required></span>
                                    </span>
                                    <button class="btn btn-success">Proceed</button>

                                </form>
                            </span>             
                        </div>
                </div>
        </div>

    </div>
    

    <script src="/script/app.js"></script>
</body>
</html>